/* Mevcut stil kurallarınız */

.learn-driving-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.learn-driving-header {
  text-align: center;
}

.learn-driving-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 90px;
  /* Varsayılan olarak içerikler yatay olarak sıralanır */
}

.learn-driving-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 20px 0;
  width: 744px;
  height: 234px;
  border-radius: 24px;
}

.learn-driving-three {
  text-align: left;
}


.info-item {
  border-radius: 20px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 360px;
  height: 105px;
  border: 1px solid #BCBCC3;
}

.info-item img.info-icon {
  width: 50px;
  height: 50px;
}

.learn-driving-header p {
  width: 700px;
}

.learn-driving-two {
  width: 744px;
  height: 385px;
  border-radius: 16px;
}

.learn-driving-two span,
.learn-driving-two p {
  color: black;
}

.learn-driving-two span {
  font-size: 34px;
  line-height: 51px;
  font-weight: 700;
}

.learn-driving-two p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* Responsive Tasarım için Medya Sorguları */

@media (max-width: 768px) {
  .learn-driving-info {
    grid-template-columns: 1fr; /* Tüm bilgi kartlarını dikey sıralamak için */
    width: auto; /* Konteynerin genişliğini ekran boyutuna göre ayarlamak için */
    padding: 20px; /* İç padding'i koruyarak daha fazla alan sağlamak için */
  }

  .info-item {
    width: auto; /* Öğe genişliğini esnek yapmak için */
    height: auto; /* İçerik miktarına bağlı olarak yüksekliği ayarlamak için */
  }

  .learn-driving-header p,
  .learn-driving-two {
    width: 90%; /* Başlık ve içerik genişliğini ekran boyutuna göre ayarlamak için */
  }

  .learn-driving-two span {
    font-size: 24px; /* Küçük ekranlarda başlık font boyutunu azaltmak için */
    line-height: 36px; /* Satır yüksekliğini ayarlamak için */
  }

  .learn-driving-two p {
    font-size: 14px; /* Küçük ekranlarda paragraf font boyutunu azaltmak için */
    line-height: 21px; /* Satır yüksekliğini ayarlamak için */
  }

  .learn-driving-content {
    flex-direction: column; /* İçerikleri dikey olarak sırala */
  }
  
  .learn-driving-instructor img {
    order: 2; /* Eğer belirli bir item'ı en alta almak istiyorsak */
    width: 100%; /* Mobil görünümde resmin genişliğini ayarla */
    height: auto; /* Yüksekliği orantılı olarak ayarla */
    margin-top: 20px; /* Üstteki içerikle arasında boşluk bırak */
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .learn-driving-info {
    grid-template-columns: repeat(2, 1fr); /* Tablet boyutlarında 2 sütunlu düzen */
    width: 90%; /* Konteyner genişliğini ekran boyutuna göre ayarlamak için */
  }

  .learn-driving-header p,
  .learn-driving-two {
    width: 80%; /* Tablet boyutlarında genişlik ayarlaması */
  }

  .learn-driving-two span {
    font-size: 28px; /* Tablet boyutlarında başlık font boyutunu ayarlamak için */
  }

  .learn-driving-two p {
    font-size: 15px; /* Tablet boyutlarında paragraf font boyutunu ayarlamak için */
  }
}
