/* CampaignSection.css - Sınıf isimleri güncellendi */
.uniqueCampaignSection {
  text-align: center;
  margin: 20px;
  margin-top: 90px;
  
}

.uniqueCampaignButton {
  padding: 10px 20px;
  background-color: #50BB27;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
  width: 259px;
  height: 54px;
  font-size: 20px;
}

.uniqueCountdown {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: black;
}

.uniqueTime {
  margin: 0 10px;
}





.uniquePlayIcon {
  position: absolute;
  font-size: 30px;
}



/* CampaignSection.css */



.uniqueCampaignSection h2 {
  font-size: 64px;
  width: 949px;
  margin-left: 220px;
  color: black;
  line-height: 96px;
}



