/* LearnDrivingSection.css - Sınıf isimleri güncellendi */
.customCourseModulesSection {
    padding: 20px;
    /* background-color: #f0f2f5; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    margin: 20px auto;
    max-width: 1128px;
    text-align: center;
      margin-top: 90px;
  }
  
  .customAccordion {
    margin: 10px 0;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    overflow: hidden;
  }
  
  .customAccordionHeader {
    cursor: pointer;
    padding: 15px 20px;
    background-color: #F3F4F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    height: 80px;
  }
  
  .customAccordionContent {
    padding: 15px 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
  }

  /* CourseModulesSection.css içerisinde */
.customAccordionContent p {
  text-align: left; /* Paragrafı sola hizalar */
  margin: 0; /* Varsayılan kenar boşluklarını kaldırır, gerekiyorsa ayarlayabilirsiniz */
}

  
  .customRegisterButton {
    display: block;
    width: 363px;
    height: 54px;
    padding: 10px 0;
    background-color: #50BB27;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 370px;
    border-radius: 12px;
    line-height: 30px;
  }
  
 
  .customOpen .customAccordionContent {

  }


  .customCourseModulesSection  span {
    color: black;
  }
  


  .customOpen {
    background-color: #50BB27 !important; 
  }

  .customOpen .customAccordionHeader {
    background-color: #50BB27; 
  }
  

  .customAccordion:hover {
    background-color: #50BB27; 
  }

  .customAccordionHeader:hover {
    background-color: #50BB27;
  }

  
  /* .customAccordion.customOpen:hover {
    background-color: darkgreen; 
  }
  
  .customAccordion:not(.customOpen):hover {
    background-color: lightgreen; 
  } */
  



.spanFirst {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  
}
  
  
  