/* FAQSection.css - Sınıf isimleri güncellendi */
.uniqueFaqSection {
    margin: 20px auto;
    max-width: 1128px;
    padding: 20px;
  
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin-top: 40px;
  }
  
  .uniqueFaqItem {
    margin-bottom: 10px;
   
    border-radius: 4px;
    overflow: hidden;
  }
  
  .uniqueFaqQuestion {
    cursor: pointer;
    padding: 15px 20px;
    background-color: #F3F4F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    height: 80px;
  }
  
  .uniqueFaqIcon {
    
  }
  
  .uniqueFaqAnswer {
    padding: 15px 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: none;
  }
  
  .uniqueFaqItem.uniqueOpen .uniqueFaqAnswer {
    display: block; 
  }
  
  .uniqueFaqContact {
    text-align: center;
    padding: 20px;
  
    margin-top: 20px;
    border-radius: 4px;
  }
  

  .uniqueFaqContact p {
   font-size: 34px;
   line-height: 51px;
   font-weight: 500;
  }

  .uniqueFaqContact button {
    background-color: #50BB27;
    
    color: #f9f9f9;
    border-radius: 12px;
    border: #fff;
    line-height: 30px;
    font-size: 20px;
    padding: 12px;
    gap: 4px;
    width: 239px;
    height: 54px;

  }
  
 
  







 
  
  .uniqueFaqItemOpen {
    background-color: #e8f5e9; /* Açık yeşil arkaplan */
  }
  
  .uniqueFaqQuestion {
    cursor: pointer;
    /* Diğer stilleriniz */
  }
  
  .uniqueFaqQuestion:hover,
  .uniqueFaqItemOpen .uniqueFaqQuestion {
    background-color: #4caf50; /* Koyu yeşil arkaplan */
    color: white; /* Açık renk metin */
  }
  

  .uniqueFaqAnswer {
    /* Diğer stilleriniz */
  }
  

  .uniqueFaqSection h2, div {
    color: black;
  }
  .uniqueFaqSection button {
   
  }