.learn-haqqimizda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  
  }
  
  .learn-haqqimizda-header {
    text-align: center;
  }
  
  .learn-haqqimizda-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    margin-top: 90px;
    height: 537px;
    background-color: #1F203F;
  }
  
  .learn-haqqimizda-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 20px 0;
    width: 552px;
    height: 70px;
    border-radius: 24px;
  }
  
  .haqqimizda-instructor{
    
    /* flex-direction: column;
    justify-content: flex-end; 
    height: 100%;   */
    /* display: flex;
    align-items: center; */
  }
  
  
  .haqqimizdaphoto {
    width: 456px;
    height: 418px;
    /* margin-bottom: 20px;  */
    margin-top: 20px;
    border-radius: 20px;
  }
  
  
  .info-item p:first-of-type {
    /* İlk p etiketine uygulanacak stiller */
    
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  }
  
  
  .learn-haqqimizda-three {
    text-align: left;
    width: 486px;
  }
  
  .haqqimizda-item {
    /* border-radius: 20px; */
   
    display: flex;
    align-items: center;
    gap: 10px;
    width: 212px;
    height: 27px;
    text-align: left;
    /* border: 1px solid #bcbcc3; */
  }
  
  .containerİnfoİtem {
    margin-left: 10px;
  }
  
  .info-item img.info-icon {
    width: 50px;
    height: 50px;
  }
  
  .learn-haqqimizda-header p {
    width: 700px;
  }
  
  .learn-haqqimizda-two {
    width: 544px;
    height: 385px;
    border-radius: 16px;
    margin-left: 124px;
    margin-top: 20px;
   
  }
  
  .learn-haqqimizda-two span,
  .learn-haqqimizda-two p {
    color: black;
  }
  
  .learn-haqqimizda-two span {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
  }
  
  .learn-haqqimizda-two p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
   
  }
  
  @media (max-width: 768px) {
    .learn-haqqimizda-info {
      grid-template-columns: 1fr;
      width: auto;
     
    }
  
    .info-item {
      width: auto;
      height: auto;
    }
  
    .learn-haqqimizda-header p,
    .learn-haqqimizda-two {
      width: 90%;
    }
  
    .learn-haqqimizda-two span {
      font-size: 24px;
      line-height: 36px;
    }
  
    .learn-haqqimizda-two p {
      font-size: 14px;
      line-height: 21px;
    }
  
    .learn-haqqimizda-three {
     width: 100%;
    }
    .learn-haqqimizda-two {
        margin-left: 0px;
    }
  
    /* .learn-haqqimizda-content {
      flex-direction: column;
    } */
  
    .haqqimizda-instructor img {
      order: 2;
      width: 100%;
      height: auto;
      margin-top: 20px;
      display: none;
    }

    .learn-haqqimizda-content {
        height: 747px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .learn-haqqimizda-info {
      grid-template-columns: repeat(2, 1fr);
      width: 90%;
    }
  
    .learn-haqqimizda-header p,
    .learn-haqqimizda-two {
      width: 80%;
    }
  
    .learn-haqqimizda-two span {
      font-size: 28px;
    }
  
    .learn-haqqimizda-two p {
      font-size: 15px;
    }
  
    .teacherPhoto {
      width: 352px;
      height: 397px;
      margin-bottom: 20px; /* Aşağıdan 20px boşluk */
    }
    
  }
  