.learn-driving-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;  

}

.learn-driving-header {
  text-align: center;
}

.learn-driving-content {
  display: flex;
justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 90px;
}

.learn-driving-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 20px 0;
  width: 744px;
  height: 234px;
  border-radius: 24px;
}

.info-item {
  /* background: #f9f9f9; */
  border-radius: 20px;
  padding: 12px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 360px;
  height: 105px;
  border: 1px solid #BCBCC3;
}

.info-item img.info-icon {
  width: 50px;
  height: 50px;
}

.learn-driving-instructor img {
  /* Resmi uygun boyuta getirmek için gerekli stilleri uygulayın */
  max-width: 100%; /* Bu değeri eğitmenin resmi için uygun bir boyuta ayarlayın */
  height: auto;
}

/* @media sorguları ile responsive tasarım ekleyebilirsiniz */
@media (max-width: 768px) {
  .learn-driving-info {
    grid-template-columns: 1fr;
  }

  
  .learn-driving-instructor img {
    width: 80%; /* Küçük ekranlarda resmin boyutunu ayarlayın */
  }
}

.learn-driving-header p {
  width: 700px;
}


.learn-driving-header h1 {
  color: black;
}

.info-icon {
  width: 50px;
  height: 50px;
}

.info-item  p {
  margin-left: 10px;
}

.learn-driving-two {
  width: 744px;
  height: 385px;
  border-radius: 16px;
}

.learn-driving-two span {
  color: black;
  font-size: 34px;
  line-height: 51px;
  font-weight: 700;
  
}

.learn-driving-two p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #212121;
}

.learn-driving-three {
  text-align: start;
}