/* LessonData.css */
.lessonsContainer {
  
  
  width: 100%;
  margin: auto;
  

height: 110vh;
}

.lessonList {
  width: 307px; /* Width değeri "Hug" olarak belirtilmiş ancak burada 300px olarak verilmiş */
  height: auto; /* Height değeri "Hug" olarak belirtilmiş, otomatik yükseklik için auto kullanabiliriz */
  padding: 12px 2px; /* Sırasıyla üst-alt ve sağ-sol padding değerleri */
  background-color: #FFFFFF; /* Arka plan rengi beyaz */
  border: 0px solid; /* Sıfır genişlikli katı bir sınır */
  box-shadow: 0px -6px 26.6px rgba(0, 0, 0, 0.07); /* Gölge efekti */

}

.lessonItem {
  padding: 8px;
  margin-bottom: 5px;
border-top: 1px solid #F3F4F8;
  border-radius: 4px;
 
}



.lessonText {
  margin: auto;

  color: #6e6e81;

  margin-top: 10px;
  width: 100%;
  line-height: 21px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.imageLogo {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  margin-top: 8px;
}

/* LessonData.css */
.subjectContainer {
  width: 145px;
  height: 103px;
  border-radius: 8px;
  /* Eğer içerik merkezlenmeliyse */
  /* display: flex; */
  align-items: center; /* Dikey olarak ortalar */
  /* margin-left: 8px; */
  text-align: left;
  flex: 1 1 48%; /* Her bir eleman genişliğini %48 yap, böylece her satırda 2 eleman olur */
  margin-bottom: 20px; /* Alt elemanlar arasında boşluk bırak */
  
}

.subjectItem {
  font-size: 14px;
  line-height: 21px;
  width: 145px;
  height: 21px;
  cursor: pointer; /* Fare imlecini tıklanabilir olarak değiştirir */
  /* Eğer metni kesmek isterseniz */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Uzun metni "..." ile kısaltır */
  cursor: pointer;
  text-align: left;
  /* margin-left: 10px; */
  color: #1F203F;
  display: block;
}

.lessonItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 63px;
  width: 295px;
  border-radius: 16px;
  font-size: 16px;
}

.lessonItemText {
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lessonNameText {
  text-align: left; /* Metni sola hizala */
  display: block; /* span'ı blok seviyesinde bir eleman yap */
  width: 100%; /* Ebeveyn konteynerin tam genişliğini al */
  margin: auto;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  color: #1F203F;
  margin-top: 10px;
}

.lessonNameTextHome {
  display: flex; /* Elemanları yatay olarak hizala */
  align-items: center; /* Elemanları dikey olarak ortala */
  text-align: left;
  width: 100%;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.ContainerHomeKabinet {
  display: flex;
}


.lessonNameTextKabinet {
  text-align: left; /* Metni sola hizala */
  display: block; /* span'ı blok seviyesinde bir eleman yap */
  width: 100%; /* Ebeveyn konteynerin tam genişliğini al */
  margin: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #1F203F;
  width: 48px;
  height: 21px;
}

.video-thumbnailTwo {
  display: block; /* Blok seviyesinde göster */

  

  width: 100%; /* Kapsayıcının genişliğine göre ayarla */
  height: 624px; /* Yüksekliği orantılı yap */
  border-radius: 24px;
  margin-top: 18px;
  cursor: pointer;
}

.video-overlayn {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0; /* Sağdan boşluk bırakma */
  bottom: 0; /* Alttan boşluk bırakma */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translate(-50%, -50%);
 
}

.videoDetails video {
  width: 100%; /* Kapsayıcının genişliğine göre ayarla */
 height: auto; /* Yüksekliği orantılı yap */
  object-fit: contain; /* Videoyu kırpma, tamamını göster */
  border-radius: 24px;
  margin-top: 18px;
  cursor: pointer;
}

.videoDetails {
  position: relative; /* Bu, .video-overlayn için bir konumlandırma bağlamı oluşturur */

}


.detailsContainer {

}




.logoutLink {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #dc3545; 
  color: white; /* Yazı rengi */
  text-decoration: none; /* Alt çizgisi kaldır */
  border-radius: 5px; /* Kenar yuvarlaklığı */
  transition: background-color 0.2s; /* Arka plan rengi geçişi */
}

.logoutLink:hover {
  background-color: #bd2130; /* Koyu kırmızı hover rengi */
}

.quizName {
  cursor: pointer; /* İmleci el simgesine dönüştür */
 
}

.quizNameContainer {
  margin-bottom: 10px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.lessonList {
  position: absolute;
  top: 0;
  right: 0; /* Menüyü sağ tarafta başlat */
  height: auto;
  animation-fill-mode: forwards;
  z-index: 2;
  display: none; /* Başlangıçta gizli */
}

.lessonList.show {
  display: block;
  animation: slideInFromRight 0.5s ease-in-out forwards; /* Sağdan sola açılma animasyonu */
}

.lessonList.hide {
  animation: slideOutToRight 0.5s ease-in-out forwards; /* Soldan sağa kapanma animasyonu */
}

.lessonListCloseButton {
  cursor: pointer; /* İmleci el simgesine dönüştür */
}



.smallThumbnail {
  width: 141px; /* Genişliği 50 piksel olarak ayarla */
  height: 80px; /* Yüksekliği orantılı olarak ayarla */
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}


.currentLessonDisplay {
text-align: left;
margin-top: 15px;
margin-left: 10px;
}

.containerPaginationLogo {
  display: flex;
}


.containerPaginationLessonNameText {
  display: flex;
  width: 100%;
  margin: auto;
}







/* Mobil cihazlar için küçük ekranlar (genellikle 600px'e kadar) */
@media (max-width: 600px) {
  .lessonNameText {
    font-size: 20px; /* Mobil cihazlarda daha küçük font boyutu */
    line-height: 30px; /* Mobil cihazlarda daha dar satır yüksekliği */
    margin-top: 5px; /* Daha az üst boşluk */
  }
  .containerPaginationLessonNameText {
    display: block; /* Flex özelliğini kaldır ve blok seviyesinde bir düzen kullan */
  }
  .containerPaginationLogo {
    justify-content: space-around;
  }
  .video-thumbnailTwo {
    display: block; /* Blok seviyesinde göster */
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
    height: auto; /* Yüksekliği orantılı yap */
   
  }
  .videoDetails video {
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
   height: auto; /* Yüksekliği orantılı yap */
  }

  .lessonNameTextHome {
   
  
    font-size: 9px;
  
  }
}






@media (min-width: 601px) and (max-width: 900px) {
  /* .lessonNameText {
    font-size: 24px; 
    line-height: 36px; 
    margin-top: 8px; 
  }
  .containerPaginationLessonNameText {
    display: block; 
  }
  .containerPaginationLogo {
    justify-content: space-around;
  } */
  .video-thumbnailTwo {
    display: block; /* Blok seviyesinde göster */
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
    height: auto; /* Yüksekliği orantılı yap */
   
  }
  .videoDetails video {
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
   height: auto; /* Yüksekliği orantılı yap */
  }
}


@media (min-width: 1701px) {
  /* .lessonNameText {
    font-size: 28px; 
    line-height: 42px; 
    margin-top: 10px;
  }
  .containerPaginationLessonNameText {
    display: block; 
  }
  .containerPaginationLogo {
    justify-content: space-around;
  } */
  .video-thumbnailTwo {
    display: block; /* Blok seviyesinde göster */
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
    height: auto; /* Yüksekliği orantılı yap */
   
  }
  .videoDetails video {
    width: 100%; /* Kapsayıcının genişliğine göre ayarla */
   height: auto; /* Yüksekliği orantılı yap */
  }
}








