/* Navbar.css - Sınıf isimleri güncellendi */
.customNavbar {
  display: flex;
justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  width: 1200px;
  height: 77px;
 margin: auto;
}

.customLogo {
  height: 50px;
  width: 221px;
}



.customNavLink {
margin: 30px;
  text-decoration: none;
  color: black;
}

.customButtons {
  display: flex;
}

.customBtn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.customLogin {

 color: #50BB27;
  border-radius: 8px;
 
  height: 40px;
  font-size: 16px;
  background-color: white;
}

.customRegister {
  background-color: #50BB27;
  color: white;
  border-radius: 12px;
  width: 158px;
  height: 40px;
}


.customNavbar img {
  width: 3252px;
  height: 112px;
}

.customLogin p {
  color: #50BB27;
  width: 53px;
}