.pagination-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-right: 15px;
}

.pagination-text {
  margin-top: 10px;
  color: #333;
  width: 81px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #6e6e81;
}

.pagination-buttons {
  display: flex;
}

.pagination-buttons button {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 5px;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.pagination-buttons button:disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination-buttons button:not(:disabled):hover {
  background-color: #e0e0e0;
}

.pagination-button img {
  width: 30px;
  height: 30px;
}
