.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 
  margin-left: 5px;
}

.countdown-component {
  text-align: center;
  margin: 0 10px;
}




@media (max-width: 768px) {
  .time {
    font-size: 10px;
    font-weight: bold;
    color: #50BB27;
  }

  .time-label {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    color: #50BB27;
  }
}