/* RegistrationForm.css */
.login form {
  
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 456px;
    height: 522px;
   
    padding: 40px;
    margin: auto;
    margin-top: 5%;
    text-align: start;
    border: 1px solid #BCBCC3;
  }
  
  .login input[type="text"],
  .login input[type="email"],
  .login input[type="password"] {
 
   
    display: block;
  
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #BCBCC3;
  color: #110f0f;
    height: 54px;
   
    
  }
  
  .login input::placeholder {
    color: #6E6E81;
  }
  
  .login button[type="submit"] {
  background-color: #50BB27;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
    width: 384px;
    height: 54px;
    line-height: 30px;
    
  }
  
  .login button[type="submit"]:hover {
    background-color: #3C951B;
  }
  
  /* Başlık için ek stil */
  .login h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  

  .login p {
    color: #1F203F;
  }
