.login form {
  border-radius: 20px;
  
  color: white;
  max-width: 456px;
  height: 522px;
 
  padding: 40px;
  margin: auto;
  margin-top: 5%;
  text-align: start;
  border: 1px solid #bcbcc3;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  display: block;
  background-color: white !important;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #bcbcc3;
  color: #110f0f;
  height: 54px;

}


.login input::placeholder {
  color: #6e6e81;
}

.login button[type="submit"] {
  background-color: #50bb27;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s;
  width: 384px;
  height: 54px;
  line-height: 30px;
}

.login button[type="submit"]:hover {
  background-color: #3c951b;
}

.login p {
  color: #1f203f;
}

.login-logo {
  max-width: 250px;
  margin-top: 20px;
}

.login-title {
  text-align: center;
  color: #1F203F;
  margin-bottom: 30px;
}

.forgot-password {
  color: #50bb27;
  margin-left: 250px;
}

.registration-reminder {
  margin-left: 50px;
  margin-top: 42px;
  height: 40px;
  width: 384px;
}

.registration-link {
  margin-left: 10px;
  color: green;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login form {
    padding: 20px;
    max-width: 90%;
    margin-top: 10%;
  }

  .login input[type="text"],
  .login input[type="email"],
  .login input[type="password"],
  .login button[type="submit"] {
    width: 100%;
    margin: 15px 0;
  }

  .login button[type="submit"] {
    width: auto;
    padding: 12px;
  }

  .forgot-password {
    margin-left: 0;
    margin-bottom: 20px;
    display: block;
  }

  .registration-reminder {
    width: auto;
    margin: 20px auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .login form {
    padding: 30px;
    max-width: 80%;
    margin-top: 5%;
  }

  .login input[type="text"],
  .login input[type="email"],
  .login input[type="password"],
  .login button[type="submit"] {
    margin: 20px 0;
  }

  .login button[type="submit"] {
    padding: 15px 20px;
  }

  .forgot-password,
  .registration-reminder {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
