/* RegistrationForm.css */
.registration form {
  
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 456px;
    height: 704px;
   
    padding: 40px;
    margin: auto;
  
    text-align: start;
    border: 1px solid #BCBCC3;
  }
  
  .registration  input[type="text"],
  .registration  input[type="email"],
  .registration  input[type="password"] {
 
   
    display: block;
  
    width: 100%;
    padding: 10px;
  
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #BCBCC3;
   color: #110f0f;
    height: 54px;
    margin-bottom: 10px;
    margin-top: 5px;
   
    
  }
  
  .registration  input::placeholder {
   color: #6E6E81;
  }
  .registration p {
    color: #1F203F;
  }
  
  .registration  button[type="submit"] {
  background-color: #50BB27;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
    width: 384px;
    height: 54px;
    line-height: 30px;
    
  }
  
 button[type="submit"]:hover {
  background-color: #3C951B;
  }
  
  /* Başlık için ek stil */
  .registration h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  






 /* Modalın genel arka planını belirleyen stil */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Yarı saydam arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Diğer içeriklerin önünde olmalı */
}

/* Modal içeriğini stilize eden CSS */
.modal-content {
  background: white;
    padding: 2em;
    border-radius: 24px;
   width: 552px;
   height: 459px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content span {
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

/* Başarılı işlem ikonunu stilize eden CSS */
.success-icon {
  color: #4BB543;
  font-size: 8rem;
  height: 160px;
}

/* Başlık stilini belirleyen CSS */
.modal-title {
  font-size: 1.5rem; /* Başlık font boyutu */
  color: #333; /* Başlık rengi */
  margin: 0.5rem 0; /* Üst ve alt boşluk */
}

/* Mesaj metnini stilize eden CSS */
.modal-message {
  font-size: 18px;
   line-height: 27px;
    color: #666;
   
    text-align: center;
    margin-top: 15px;
}

/* Düğme stilini belirleyen CSS */
.modal-button {
  background-color: #4BB543;
    color: white;
    border: none;
    padding: 10px 20px;
 font-size: 20px;
 line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 488px;
    height: 54px;
    margin-top: 30px;
}

/* 'Daxil ol' link stilini belirleyen CSS */
.link-text {
  display: block;
  margin-top: 1.5rem;
  color: #000; /* Link rengi */
  text-decoration: none; /* Alt çizgi kaldır */
  font-size: 1rem;
}




.account-check {
  margin-top: 42px;
  margin-left: 90px;
  height: 40px;
  width: 384px;
  color: #1F203F;
}

.login-link {
  margin-left: 10px;
  color: green;
  text-decoration: none;
}








/* Mevcut stil kurallarınız */

/* Mobil cihazlar için stil */
@media (max-width: 768px) {
  .registration form, .modal-content {
    max-width: 90%; /* Form ve modal genişliğini ekranın %90'ına ayarla */
    padding: 20px; /* Daha az padding */
    margin-top: 10%; /* Üst marjı azalt */
    height: auto; /* Yüksekliği içeriğe göre ayarla */
  }

  .registration input[type="text"],
  .registration input[type="email"],
  .registration input[type="password"],
  .registration button[type="submit"],
  .modal-button {
    width: 100%; /* Genişliği %100'e ayarla, padding ve border dikkate alınarak */
    margin: 10px 0; /* Daha sıkı bir düzen için azaltılmış marj */
  }

  .modal-content {
    padding: 1em; /* Modal için daha az padding */
    width: auto; /* Modal genişliğini otomatik ayarla */
  }

  .modal-button, .registration button[type="submit"] {
    padding: 12px; /* Daha rahat tıklanabilirlik için */
  }

  .success-icon {
    font-size: 6rem; /* İkon boyutunu azalt */
  }
}

/* Tablet cihazlar için stil */
@media (min-width: 769px) and (max-width: 1024px) {
  .registration form, .modal-content {
    max-width: 80%; /* Tabletler için form ve modal genişliğini ayarla */
    padding: 30px; /* Tabletler için daha fazla padding */
  }

  .registration input[type="text"],
  .registration input[type="email"],
  .registration input[type="password"],
  .registration button[type="submit"],
  .modal-button {
    margin: 15px 0; /* Tabletler için inputlar ve butonlar arası marj */
  }

  .modal-content {
    width: 75%; /* Tablet genişliğine uygun modal genişliği */
  }

  .modal-button, .registration button[type="submit"] {
    padding: 15px 20px; /* Tabletler için buton padding'ini artır */
  }

  .success-icon {
    font-size: 7rem; /* Tablet için ikon boyutunu ayarla */
  }
}





@media (max-width: 768px) {
  .account-check {
    margin-top: 20px;
    margin-left: 20px; /* Mobil cihazlarda kenarlardan boşluk azaltılacak */
    width: auto; /* Genişlik otomatik olarak ayarlanacak */
  }

  .login-link {
    margin-left: 5px; /* Mobil cihazlarda metinler arası boşluk azaltılacak */
  }
}
