.registration form {
  border-radius: 20px;
 
  color: white;
  max-width: 456px;
  height: 704px;

  padding: 40px;
  margin: auto;

  text-align: start;
  border: 1px solid #bcbcc3;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"] {
  display: block;

  width: 100%;
  padding: 10px;

  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #bcbcc3;
  color: #110f0f;
  height: 54px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.registration input::placeholder {
  color: #6e6e81;
}
.registration p {
  color: #1f203f;
}

.registration button[type="submit"] {
  background-color: #50bb27;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s;
  width: 384px;
  height: 54px;
  line-height: 30px;
}

button[type="submit"]:hover {
  background-color: #3c951b;
}

.registration h1 {
  text-align: center;
  color: #1F203F;
  margin-bottom: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2em;
  border-radius: 24px;
  width: 552px;
  height: 459px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content span {
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

.success-icon {
  color: #4bb543;
  font-size: 8rem;
  height: 160px;
}

.modal-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0.5rem 0;
}

.modal-message {
  font-size: 18px;
  line-height: 27px;
  color: #666;

  text-align: center;
  margin-top: 15px;
}

.modal-button {
  background-color: #4bb543;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 488px;
  height: 54px;
  margin-top: 30px;
}

.link-text {
  display: block;
  margin-top: 1.5rem;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.account-check {
  margin-top: 42px;
  margin-left: 90px;
  height: 40px;
  width: 384px;
  color: #1f203f;
}

.login-link {
  margin-left: 10px;
  color: green;
  text-decoration: none;
}

@media (max-width: 768px) {
  .registration form,
  .modal-content {
    max-width: 90%;
    padding: 20px;
    margin-top: 10%;
    height: auto;
  }

  .registration input[type="text"],
  .registration input[type="email"],
  .registration input[type="password"],
  .registration button[type="submit"],
  .modal-button {
    width: 100%;
    margin: 10px 0;
  }

  .modal-content {
    padding: 1em;
    width: auto;
  }

  .modal-button,
  .registration button[type="submit"] {
    padding: 12px;
  }

  .success-icon {
    font-size: 6rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .registration form,
  .modal-content {
    max-width: 80%;
    padding: 30px;
  }

  .registration input[type="text"],
  .registration input[type="email"],
  .registration input[type="password"],
  .registration button[type="submit"],
  .modal-button {
    margin: 15px 0;
  }

  .modal-content {
    width: 75%;
  }

  .modal-button,
  .registration button[type="submit"] {
    padding: 15px 20px;
  }

  .success-icon {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .account-check {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
  }

  .login-link {
    margin-left: 5px;
  }
}
