/* RegistrationForm.css */
.registration form {
  
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 456px;
    height: 704px;
   
    padding: 40px;
    margin: auto;
  
    text-align: start;
    border: 1px solid #BCBCC3;
  }
  
  .registration  input[type="text"],
  .registration  input[type="email"],
  .registration  input[type="password"] {
 
   
    display: block;
  
    width: 100%;
    padding: 10px;
  
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #BCBCC3;
   color: #110f0f;
    height: 54px;
    margin-bottom: 10px;
    margin-top: 5px;
   
    
  }
  
  .registration  input::placeholder {
   color: #6E6E81;
  }
  .registration p {
    color: #1F203F;
  }
  
  .registration  button[type="submit"] {
  background-color: #50BB27;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
    width: 384px;
    height: 54px;
    line-height: 30px;
    
  }
  
 button[type="submit"]:hover {
    background-color: #d6cd28;
  }
  
  /* Başlık için ek stil */
  .registration h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  






 /* Modalın genel arka planını belirleyen stil */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Yarı saydam arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Diğer içeriklerin önünde olmalı */
}

/* Modal içeriğini stilize eden CSS */
.modal-content {
  background: white;
    padding: 2em;
    border-radius: 24px;
   width: 552px;
   height: 459px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content span {
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

/* Başarılı işlem ikonunu stilize eden CSS */
.success-icon {
  color: #4BB543;
  font-size: 8rem;
  height: 160px;
}

/* Başlık stilini belirleyen CSS */
.modal-title {
  font-size: 1.5rem; /* Başlık font boyutu */
  color: #333; /* Başlık rengi */
  margin: 0.5rem 0; /* Üst ve alt boşluk */
}

/* Mesaj metnini stilize eden CSS */
.modal-message {
  font-size: 18px;
   line-height: 27px;
    color: #666;
   
    text-align: center;
    margin-top: 15px;
}

/* Düğme stilini belirleyen CSS */
.modal-button {
  background-color: #4BB543;
    color: white;
    border: none;
    padding: 10px 20px;
 font-size: 20px;
 line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 488px;
    height: 54px;
    margin-top: 30px;
}

/* 'Daxil ol' link stilini belirleyen CSS */
.link-text {
  display: block;
  margin-top: 1.5rem;
  color: #000; /* Link rengi */
  text-decoration: none; /* Alt çizgi kaldır */
  font-size: 1rem;
}
