/* Genel stil kuralları - mevcut kurallarınız */

.customNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  /* Responsivlik için max-width kullanımı ve width'i %100 yapma */
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.customLogo, .customNavbar img {
  /* Logo ve navbar resmi için maksimum genişlik ayarlama */
  max-width: 100%;
  height: auto;
}

.customNavLink {
  margin: 30px;
  text-decoration: none;
  color: black;
}

.customButtons {
  display: flex;
}

.customBtn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.customLogin {
  color: #50BB27;
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
  background-color: white;
}

.customRegister {
  background-color: #50BB27;
  color: white;
  border-radius: 12px;
  width: 158px;
  height: 40px;
}

.customRegister:hover {
  background-color: #3C951B;
}

/* Mobil cihazlar için medya sorgusu */
@media (max-width: 768px) {
  .customNavbar {
    flex-direction: column;
    padding: 20px;
  }

  .customNavLink {
    margin: 10px;
  }

  .customButtons {
    flex-direction: column;
  }

  .customLogo, .customNavbar img {
    max-width: 80%; /* Logonun ve resmin ekran genişliğine göre ayarlanması */
  }

  .customNav {
   margin-top: 10px;
   display: contents;
  }
}

/* Tablet cihazlar için medya sorgusu */
@media (min-width: 769px) and (max-width: 1024px) {
  .customNavbar {
    /* Tablet boyutları için hafif ayarlamalar */
    padding: 15px;
  }

  .customNavLink, .customBtn {
    margin: 15px 10px;
  }

  .customLogo, .customNavbar img {
    max-width: 90%;
  }

  .customNavbar {
    flex-direction: column;
    padding: 20px;
  }

  .customNav {
    margin-top: 10px;
   }
}
