.info-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 500px;
}

.info-icon {
  margin-right: 20px;
}

.info-icon img {
  width: 50px;
  height: auto;
}

.info-content h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #000000;
  font-size: 16px;
}

.info-content p {
  margin: 0;
  color: #555555;
  font-size: 14px;
}
