.uniqueCampaignSection {
  text-align: center;
  margin: 20px;
  margin-top: 90px;
  color: #1f203f;
}

.uniqueCampaignButton {
  padding: 10px 20px;
  background-color: #50bb27;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
  width: 259px;
  height: 54px;
  font-size: 20px;
}

.uniqueCampaignButton:hover {
  background-color: #3c951b;
}

.uniqueCountdown {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: black;
}

.uniqueTime {
  margin: 0 10px;
}

.uniquePlayIcon {
  position: absolute;
  font-size: 30px;
}

.uniqueCampaignSection p {
  font-size: 64px;
  width: 949px;
  margin: auto;
  color: black;
  line-height: 96px;
  font-weight: 700;
  color: #1f203f;
}

@media (max-width: 768px) {
  .uniqueCampaignSection p {
    font-size: 32px;
    width: 90%;
    line-height: 48px;
  }

  .uniqueCampaignButton {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    height: auto;
  }

  .uniqueCountdown {
    flex-direction: column;
  }

  .uniqueTime {
    margin: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .uniqueCampaignSection p {
    font-size: 48px;
    width: 80%;
    line-height: 72px;
  }

  .uniqueCampaignButton {
    width: 70%;
    padding: 10px 15px;
    font-size: 18px;
  }

  .uniqueCountdown {
    flex-direction: row;
  }

  .uniqueTime {
    margin: 0 5px;
  }
}
