/* UMUMI CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #7C4DFF;
  color: white;
  font-size: 16px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #7C4DFF; 
}

.logo {
  font-size: 2em; 
  font-weight: bold;
  color: white;
}

nav button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #FFC107;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #FFD54F;
}


.main-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  padding: 50px;
  background-color: #7C4DFF;
}








/* CSS MAIN PAGE */
.main-content h1 {
  font-size: 4em; 
  font-weight: bold; 
}

.car-image {
  max-width: 600px; 
  max-height: 400px; 
  width: auto;
  height: auto;
}


.call-to-action {
  text-align: center;
  margin: 30px 0;
}

.call-to-action button {
  padding: 15px 35px;
  background-color: #E040FB;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white; 
}

.call-to-action button:hover {
  background-color: #EA80FC;
}








/* COURSE CARD CSS */
.card-list {
  display: flex;
  justify-content: center;
  gap: 30px; /* Kartlar arasında boşluk */
  padding: 20px;

}

.card {
  width: 250px; /* Kart genişliği */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Kart gölge efekti */
  border-radius: 8px; /* Kart köşe yuvarlaklığı */
  overflow: hidden; /* Resim köşeleri yuvarlaklığı için */
  background: #fff; /* Kart arka plan rengi beyaz olarak ayarlandı */
  color: #000; /* Metin rengi siyah olarak ayarlandı */
  margin-top: 30px;
}

.card img {
  width: 100%; /* Resim genişliği kart genişliğine oturacak şekilde */
  height: 150px; /* Resim yüksekliği otomatik olacak */
}

.card h2 {
  font-size: 1em;
  margin: 0.5em;
  color: #000; /* Başlık rengi siyah olarak ayarlandı */
}

.card p {
  font-size: 0.9em;
  margin: 0.5em;
  color: #000; /* Paragraf rengi siyah olarak ayarlandı */
}













.feature-card {
  background: white; /* Beyaz arka plan */
  border-radius: 20px; /* Yuvarlak köşeler */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  display: flex; /* Flexbox düzeni */
  align-items: center; /* İçerikleri dikey olarak ortala */
  padding: 20px; /* İçten boşluk */
  margin: 20px 0; /* Üst ve alt margın */
  transition: transform 0.3s ease; /* Geçiş efekti */
  height: 160px;
  width: 1100px;
  margin-left: 180px;
  

 
}









/* FEATURE CARD CSS */
/* Kart üzerine gelindiğinde uygulanan efekt */
.feature-card:hover {
  transform: translateY(-5px); /* Hafif yukarı taşı */
}

/* İkon stil ayarları */
.feature-icon {
  height: 128px;
  margin-right: 20px; /* Sağdaki içeriğe boşluk bırak */
}

/* Başlık stil ayarları */
.feature-title {
  font-size: 1.5rem; /* Başlık font boyutu */
  color: #333; /* Başlık font rengi */
  margin: 0; /* Başlık için sıfır margın */
}

/* Açıklama metni stil ayarları */
.feature-description {
  font-size: 1rem; /* Açıklama metni boyutu */
  color: #666; /* Açıklama metni rengi */
  margin: 0; /* Açıklama metni için sıfır margın */
}

/* Ekstra düzenlemeler için medya sorguları kullanılabilir */
@media (max-width: 768px) {
  .feature-card {
    flex-direction: column; /* Mobil için dikey düzen */
    align-items: flex-start; /* İçerikleri başlangıç noktasına hizala */
  }

  .feature-icon {
    margin-right: 0; /* İkon sağ margınını kaldır */
    margin-bottom: 10px; /* İkon altına boşluk ekle */
  }
}











/* PricingCard.css */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  width: 300px; /* Or any other width */
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card--featured {
  border: 2px solid #ff385c; /* Adjust color as needed */
  position: relative;
}

.card__discount {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #ff385c; /* Adjust color as needed */
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.card__discount-rate {
  font-size: 0.8em;
}

.card__price {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.card__title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.card__features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.card__features li {
  text-align: left;
  padding: 5px 0;
}

.card__button {
  background: #ff385c; /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.card__button:hover {
  background: #e60023; /* Darker shade for hover effect */
}





/* PricingSection.css */
.pricing-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}














/* Question.css */
.faq-section {
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.question2 {
  background: #f9f9f9;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  border-left: 4px solid #4CAF50;
  margin-top: 20px;
}

.question2__title {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
}

.question2:hover .question2__title {
  color: #4CAF50;
}

.question2__content {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
  display: none;
  transition: display 0.3s ease-in-out;
}

.question2.open .question2__content {
  display: block;
}

.question2__icon {
  font-size: 1.5em;
  transition: transform 0.3s ease;
  color: #4CAF50;
}

.question2:hover .question2__icon {
  transform: scale(1.1);
}

.question2.open .question2__icon {
  transform: rotate(180deg); /* Daha önce 45 derece dönme belirtmişsiniz ancak açılır/kapanır ikon için 180 derece daha uygun olabilir */
}


/* QEYDIYYAT CSS */

.registration-form {
  background: #f3e5f5; 
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
  margin-left: 37%;
  margin-top: 10%;
}

.registration-form h2 {
  color: #6200ea; /* Başlık rengi koyu mor */
  text-align: center;
  margin-bottom: 2rem;
}

/* Diğer CSS kuralları... */


.registration-form label {
  color: #6200ea; /* Etiket rengi koyu mor */
  margin-bottom: 0.5rem;
}

.registration-form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #ba68c8; /* Giriş alanı çerçeve rengi */
  border-radius: 4px;
  background-color: transparent; /* Giriş alanı arkaplanı şeffaf */
  color: #6200ea;
}

.registration-form button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #d32f2f; /* Buton arka plan rengi kırmızı */
  color: white; /* Buton yazı rengi beyaz */
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-form button:hover {
  background-color: #9a0007; /* Buton hover rengi daha koyu kırmızı */
}

/* Ekran boyutuna göre duyarlı tasarım için medya sorgusu */
@media (max-width: 768px) {
  .registration-form {
    width: 90%;
    margin: 2rem;
  }
}
















/* 
/* LOGIN GIRISH CSS */
/* .login-wrapper {

  align-items: center;
  height: 100vh;
  background-color: #9c27b0;
}

.login-form {
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-left: 37%;
  margin-top: 10%;
}

.login-form h2 {
  margin-bottom: 2rem;
  color: #6200ea;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: .5rem;
  color: #6200ea;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #6200ea;
  font-size: 1rem;
}

.login-button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #9a0007;
}

.signup-link {
  margin-top: 2rem;
  color: #6200ea;
}

.signup-link a {
  color: #d32f2f;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}









button {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
} */ g






/* QUIZ CSS */
button.next {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.next:hover {
  background-color: #45a049;
}


.card2 {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #000;
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:disabled {
  cursor: not-allowed;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

.btn:not(.correct):not(.incorrect) {
  background-color: #007bff;
}

.btn:not(.correct):not(.incorrect):hover {
  background-color: #0056b3;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.next-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #0056b3;
}

.next-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


/* ... (önceki stiller) */

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

.btn.correct:not(.incorrect):hover {
  background-color: #218838;
}

.btn.incorrect:hover {
  background-color: #c82333;
}

.question-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.question-number {
  font-weight: bold;
  color: #007bff;
}



/* Home.css */
/* .home-container {
  padding: 20px;
} */

/* .home-logo {
  max-width: 150px;
  margin-top: 30px;
  margin-left: 30px;
} */

/* .home-header {
  color: #333;
  text-align: center;
  margin-top: 20px;
} */

/* .lessons-list {
 
  padding: 0;
  margin-top: 20px;
} */



/* 
.lessons-list li {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #000; 
  list-style-type: none; 
} */




/* .lessons-list li:hover {
  background-color: #e9e9e9;
} */


/* HOME  CSS*/
.container {
  display: flex;
  height: 100vh; /* Ekranın tamamını kaplasın */
}

.sidebar {
  width: 250px; /* Sabit bir genişlik */
  background-color: #343a40; /* Koyu bir arka plan rengi */
  color: #ffffff; /* Beyaz yazı rengi */
  padding: 20px;
  overflow-y: auto; /* İçerik çok uzunsa kaydırma çubuğu eklensin */
}

.sidebar ul {
  list-style-type: none; /* Liste işaretlerini kaldır */
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 2px;
  background-color: #495057; /* Menü öğeleri için biraz daha açık bir arka plan rengi */
  cursor: pointer; /* Üzerine gelindiğinde el işareti */
  border-radius: 5px; /* Köşeleri yuvarlaklaştır */
  transition: background-color 0.3s; /* Arka plan rengi değişim animasyonu */
}

.sidebar li:hover {
  background-color: #6c757d; /* Üzerine gelindiğinde arka plan rengini değiştir */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* İçerik çok uzunsa kaydırma çubuğu eklensin */
  background-color: #f8f9fa; /* Açık gri bir arka plan rengi */
}


.container h1 {
  color: #000; /* h1 etiketlerinin rengini burada belirtilen renk kodu ile değiştir */
}

.container h2 {
  color: #000; /* h2 etiketlerinin rengini burada belirtilen renk kodu ile değiştir */
}

.container p {
  color: #000; /* h2 etiketlerinin rengini burada belirtilen renk kodu ile değiştir */
}





















/* .COURSE CARD CSS {

  max-width: 800px;
  margin: 40px auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} */

.course-header {
  padding: 20px;
  background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4);
  color: white;
}

.course-header h2 {
  margin: 0;
  font-size: 28px;
}

.course-header p {
  font-size: 18px;
  margin-top: 8px;
}

.course-rating {
  font-size: 16px;
  margin-top: 12px;
  opacity: 0.9;
}

.course-card {
  /* Daha iyi bir layout için stil ayarları */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* Kenarlık yuvarlakları videoyu da etkileyecek */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Gölge efekti */
  max-width: 800px; /* Maksimum genişlik */
  margin: auto; /* Ortalama */
}

.course-image {
  position: relative; /* Pozisyon ayarı */
  padding-top: 56.25%; /* 16:9 oranında padding-top vererek yükseklik ayarı */
}

.react-player {
  position: absolute; /* Absolut konumlandırma */
  top: 0;
  left: 0;
}








/* Özel kontrol stil tanımları */
.custom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.custom-controls button {
  padding: 5px 10px;
  margin-right: 10px;
}

.custom-controls input[type='range'] {
  width: 100px;
}


/* .course-image img {
  width: 100%;
  display: block;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.course-image img:hover {
  transform: scale(1.03);
} */

.course-details {
  padding: 20px;
  background-color: #ffffff;
}

.course-details h3 {
  margin-top: 0;
  color: #333;
  font-size: 22px;
}

.course-details ul {
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

.course-details ul li {
  background-color: #fafafa;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
  transition: background-color 0.2s ease-in-out;
  color: #000;
}

.course-details ul li:hover {
  background-color: #f0f0f0;
}

.course-purchase {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.course-price {
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.btn {
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.btn-add-to-cart {
  background-color: #f8f8f8;
  color: #333;
  margin-right: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.btn-add-to-cart:hover {
  background-color: #e0e0e0;
}

.btn-buy-now {
  background-color: #08c;
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.btn-buy-now:hover {
  background-color: #0077b3;
}










/* PaymentPage.css */
.payment-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form input,
.payment-form button {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.payment-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

.payment-form button:hover {
  background-color: #0056b3;
}

.payment-form input:focus {
  border-color: #007bff;
}

h2 {
  text-align: center;
}











/* COURSE CARD CSS */
.continue-button {
  background-color: #007bff; /* Parlak mavi arka plan rengi */
  color: white; /* Beyaz yazı rengi */
  padding: 12px 24px; /* Üst-alt ve sağ-sol padding */
  border-radius: 5px; /* Hafif yuvarlak köşeler */
  border: none; /* Kenar çizgisini kaldır */
  cursor: pointer; /* Üzerine gelindiğinde imleç şeklini değiştir */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Renk değişimi ve dönüşüm için geçiş efekti */
  font-size: 16px; /* Yazı boyutu */
  font-weight: 600; /* Yazı kalınlığı */
  letter-spacing: 0.5px; /* Harf aralığı */
  display: inline-block; /* İçerik genişliğine göre boyutlanır */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Hafif gölge efekti */
}

.continue-button:hover, .continue-button:focus {
  background-color: #0056b3; /* Üzerine gelindiğinde veya odaklandığında koyu mavi arka plan rengi */
  transform: translateY(-2px); /* Üzerine gelindiğinde hafifçe yukarı kaydır */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Üzerine gelindiğinde daha belirgin gölge efekti */
}

.continue-button:active {
  background-color: #004494; /* Aktifken daha koyu mavi arka plan rengi */
  transform: translateY(1px); /* Aktifken hafifçe aşağı kaydır */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Aktifken daha az belirgin gölge efekti */
}








/* LESSONSS CSS */
.container {
  display: flex;
  flex-direction: row;
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Yazı tipi boyutunu belirle */
  color: #333; /* Yazı rengini daha koyu bir ton yap */
  height: 100vh; /* Ekranın tam yüksekliğini al */
  overflow: hidden; /* Yatay kaydırmayı önle */
}

.moduleList {
  flex: 1;
  padding: 20px;
  background-color: #615b53;
  border-right: 2px solid #d4d4d4; /* Sağ sınır ekle */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Gölge ekle */
  border-radius: 5px; /* Köşeleri yuvarlaklaştır */
  overflow-y: auto; /* Dikey kaydırmayı etkinleştir */
}

/* Diğer stilleriniz aynı kalacak */


.moduleItem {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px; /* Alt boşluğu artır */
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px; /* Köşeleri yuvarlaklaştır */
  transition: background-color 0.3s ease; /* Geçiş efekti ekle */
}

.moduleItem:hover {
  background-color: #d4d4d4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Gölge efekti ekle */
}

.lessonList {
  cursor: pointer;
  padding: 10px; /* İç boşluğu artır */
  margin: 5px 0 5px 20px; /* Sol boşluğu artırarak hiyerarşi hissi ver */
  background-color: #fff;
  border-left: 4px solid #007bff; /* Sol kenarlık kalınlığını artır */
  border-radius: 3px; /* Köşeleri yuvarlaklaştır */
  transition: all 0.3s ease; /* Geçiş efekti ekle */
}

.lessonList:hover {
  background-color: #f1f1f1;
  transform: translateX(10px); /* Üzerine gelindiğinde sağa kaydır */
}

.content {
  flex: 3; /* İçerik alanını genişlet */
  padding: 20px;
  border-left: 2px solid #ccc; /* Sol sınırı kalınlaştır */
  background-color: #f9f9f9; /* Arka plan rengini hafifçe değiştir */
  border-radius: 5px; /* Köşeleri yuvarlaklaştır */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Gölge ekle */
  
}











/* REGISTER FORM CSS */
/* form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.8rem;
} */




/* LOGIN FORM CSS */
/* .login-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background: #0056b3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: #00397b;
} */










/* USER LIST CSS */
.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.user-list li button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-list li button:hover {
  background-color: #45a049;
}










/* ADMIN PANEL CSS */
.admin-panel {
  margin: 1rem;
}

.admin-panel h1 {
  color: #333;
}
