* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: white;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px; 
}

@media (max-width: 600px) {
  .react-player {
    width: 100% !important;
    height: auto !important;
  }
}


/* Tüm inputlar için varsayılan arka plan rengini beyaz yap */
input {
  background-color: white !important;
}

/* WebKit tabanlı tarayıcılar için autofill durumunda arka plan rengini beyaz yap */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus {
  outline: none;
}




.loadingText {
  color: #000; /* Siyah metin rengi */
  text-align: center; /* Metni ortalar */
  font-size: 20px; /* Yazı tipi boyutu */
  font-family: 'Arial', sans-serif; /* Yazı tipi */
  margin-top: 20px; /* Üstten boşluk */
}
