.footer {
  background-color: #1f203f;
  color: white;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 40px;
  height: 426px;
}

.footer-nav .nav-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 62px;
  margin-right: 44px;
}

.footer-nav .nav-list li {
  display: inline;
  margin: 0 10px;
}

.footer-nav .nav-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 30px;
}

.footer-nav .nav-list li a:hover {
  color: #f1c40f;
}

.footer-content {
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social-media-icons {
  margin-right: 156px;
  font-size: 20px;
  width: 120px;
  height: 24px;
  gap: "13px";
}

.social-media-icons a {
  margin: 0 5px;
  color: white;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #f1c40f;
}

.icon-facebook,
.icon-instagram,
.icon-linkedin {
}

.footer p {
  width: 316px;
  color: #fff;
}

.footer-divider {
  border-top: 2px solid #000;
  width: 77%;
  height: 1px;

  margin: 20px auto;
  margin-top: 90px;
}

.footerLogo {
  width: 221px;
  height: 52px;
  margin-top: 45px;
}

.footer-content p {
  margin-left: 170px;
  font-size: 14px;
  line-height: 21px;
  width: 477px;
  height: 42px;
  text-align: start;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
  }

  .footer-nav .nav-list {
    margin-right: 0;
    display: grid;
  }

  .footer-nav .nav-list li a {
    margin-left: 10px;
  }

  .footer-nav .nav-list li {
    margin-top: 10px;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
  }

  .social-media-icons {
    margin: 20px 0;
    justify-content: center;
    width: auto;
  }

  .footer-content p,
  .footer p {
    width: auto;
    text-align: center;
    margin-left: 0;
  }

  .footerLogo {
    margin-top: 20px;
  }
}
